.container-header{
    background-color: #fff; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    position: absolute;
    top:0;
    width: 100%;
    z-index: 3;
    height: 15%;
    overflow: hidden;
}
.container-header h1{
    margin: 15px;
}
.container-scroll{
    position: absolute;
    bottom: 0;
    height: 85%;
    overflow-y: scroll;
    padding:0 10px 80px;
    margin-top: 15%;
    width: 100%;
}
.caption{
    height: 45px;
    display: flex;
    align-items: center;
    color:#b4bcc2;
    font-size:20.8px;
}
