 .base {
   height: 60px;
   width: 60px;
   transition: .6s;
 }
 
 .base-expand {
   height: 135px;
   width: 135px;
 }
 
 .circle {
   border-radius: 50%;
   text-align: center;
   font-size: 1.5em;
   line-height: 2.4 !important;
   box-shadow: 0 3px 13px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
 }
 
 .sm:hover {
   height: 52px;
   width: 52px;
   box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.23);
 }
 
 .sm {
   height: 50px;
   width: 50px;
   transition: .2s;
 }
 
 .md {
   height: 75px;
   width: 75px;
   line-height: 4.2 !important;
   transition: .4s;
 }
 
 .md:hover {
   height: 76px;
   width: 76px;
   box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.23);
 }
 
 .top-left {
   position: absolute;
   top: 0;
   left: 0;
   background-color: #E64A19;
 }
 
 .top-right {
   position: absolute;
   top: 0;
   right: 0;
   background-color: #1976D2;
 }
 
 .bottom-left {
   position: absolute;
   bottom: 0;
   left: 0;
   background-color: #9C27B0;
 }
 
 .bottom-right {
   position: absolute;
   bottom: 0;
   right: 0;
   background-color: var(--primary-color);
 }
 
 .middle-fix {
   margin: 15px;
 }
 
  .setting {
   position: fixed;
   bottom: 25px;
   right: 25px;
 }
 .table-scroll{
   height:100%;
   width:100%;
   overflow:auto;
 }
 .main-table{
  font-size: 1.5em;
 }

 table thead{
   border-bottom: 2px solid #BDBDBD;
 }

 /*this is the rows*/
    .profileImage{ 
        height:225px;
        width:225px; 
        margin: 10px auto;
        border-radius: 50%;
    }
    .clientName{
        text-align: center;
    } 
    .client-actions > div{
        background-color: var(--primary-color); 
        font-size: 1.3em;
        text-align: center;
        border-radius: 8px;
        margin: 10px;
        padding:10px 25px;
        box-shadow: 0 3px 13px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
        cursor: pointer;
        transition: .4s;
        position: relative;
        top:0;
        left:0;
    }
    .client-actions > div:hover{  
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.23);
      top: -2px;
      left:-2px;
    }
    .client-address{
      margin: 30px 0; 
    }
    .client-contact{ 
      margin: 50px 0;
    }
    .client-comments{ 
      color:#2c3e50; 
      padding:15px;
      border-top: 1px solid #2c3e50;
      border-bottom: 1px solid #2c3e50;
      font-size: .8em;
      font-style: italic;
      position :relative;
    }
    .client-comments-title{ 
      background-color: #fff;
      position :absolute;
      top:-22px;
      left:0;
      padding-right:15px;
      font-size: 1.4em;
      font-style: normal;
    }
    .ico{
      position: relative;
      top:-15px;
      left:-15px;
    }
 .main-table .middle-align{
   vertical-align: middle;
 }
    @media (min-width: 768px) {
     .modal-dialog{
       width:80%;
       min-width: 650px;
       max-width: 850px;
     } 
    }
     
 /*delete dialog*/
   .client-delete-container {
        text-align: center;
    }
    
    .confirm-button-container {
        display: flex;
        margin: 25px;
        justify-content: flex-end;
    }
    
    .confirm-button-container > i {
        border-radius: 50%;
        padding: 0;
        color: #fff;
        font-size: 2.5em;
        height: 60px;
        width: 60px;
        overflow: hidden;
        line-height: 1.55;
        text-align: center;
        margin: 15px 10px 0;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.23);
        transition: 400ms;
        position: relative;
    }
    
    .confirm-button-container > i:hover {
        transform: scale(1.05);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.23);
    }
    
    .confirm-button-container > i:active {
        transform: scale(1);
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.23);
    }
    
