 :root {
   --primary-color: #00BCD4
 }
 
 html, body {
   height: 100%;
   background-color: #fff;
   overflow: hidden;
   -webkit-user-select: none;
 }
 
 i {
   cursor: pointer;
   text-decoration: none !important;
 }
 
 a {
   color: #fff;
   text-decoration: none !important;
 }
 
 p {
   color: #757575;
 }
 
 td {
   text-overflow: ellipsis;
 }
 
 .header {
   background-color: var(--primary-color);
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
   width: 100%;
   height: 35vh;
   min-height: 200px;
   color: #fff;
   position: relative;
   transition: 500ms;
 }
 
 .partial-container {
   background-color: #fff;
   position: relative;
   top: -30vh;
   height: 90vh;
   box-shadow: 0 3px 13px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
   overflow: hidden;
 }
 
 .window-control {
   position: fixed;
   top: 0;
   right: 0;
   margin: 10px;
 }
 
 .window-control i {
   padding: 0 5px;
 }
 
 .tools {
   position: fixed;
   top: 0;
   left: 0;
   margin: 10px;
 }
 /*Menu control*/
 
 .circle {
   border-radius: 50%;
   text-align: center;
   font-size: 1.5em;
   line-height: 2.4 !important;
   box-shadow: 0 3px 13px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
 }
 
 .md {
   height: 75px;
   width: 75px;
   line-height: 1.6 !important;
   transition: .2s;
   font-size: 3.3em;
 }
 
 .md:hover {
   height: 77px;
   width: 77px;
   box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.23);
 }
 
 .menu-base {
   height: 165px;
   width: 165px;
   position: relative;
   transform: rotate(45deg);
   top: 80px;
   margin: 0 auto;
 }
 
 .menu-base .top-left {
   position: absolute;
   top: 0;
   left: 0;
   background-color: #E64A19;
   transform: rotate(-90deg);
 }
 
 .menu-base .top-right {
   position: absolute;
   top: 0;
   right: 0;
   background-color: #1976D2;
   transform: rotate(-45deg);
 }
 
 .menu-base .bottom-left {
   position: absolute;
   bottom: 0;
   left: 0;
   background-color: #9C27B0;
   transform: rotate(-45deg);
 }
 
 .menu-base .bottom-right {
   position: absolute;
   bottom: 0;
   right: 0;
   background-color: #FFC107;
   transform: rotate(-45deg);
 }
 
 .dashboard-links-container {
   position: absolute;
   bottom: 0;
   text-align: center;
   width: 100%;
 }
 
 .dashboard-links-container h3 {
   display: inline-block;
   cursor: pointer;
 }
 
 .center-logo {
   margin: 0 auto;
   width: 38vw;
   max-width: 350px;
   margin-top: 5vh;
 }
 
 .slide {
   position: relative;
   margin: 0 5vw 2vh;
   transition: 1s;
 }
 
 .slide:after {
   content: '';
   display: block;
   position: absolute;
   right: 0;
   bottom: 0;
   height: 3px;
   width: 0;
   background: transparent;
   transition: width .5s ease, background-color .5s ease;
 }
 
 .slide:hover:after {
   width: 100%;
   background: #fff;
 }
 /*partial dashboard*/
 
 .center-quote {
   font-size: 2em;
   margin: 14vh 0;
   text-align: center;
 }
 /*Auto complete*/
 
 .autocomplete-suggestions {
   border: 1px solid #999;
   background: #FFF;
   overflow: auto;
 }
 
 .autocomplete-suggestion {
   padding: 2px 5px;
   white-space: nowrap;
   overflow: hidden;
 }
 
 .autocomplete-selected {
   background: #F0F0F0;
 }
 
 .autocomplete-suggestions strong {
   font-weight: normal;
   color: #3399FF;
 }
 
 .autocomplete-group {
   padding: 2px 5px;
 }
 
 .autocomplete-group strong {
   display: block;
   border-bottom: 1px solid #000;
 }