.empty-image{
    text-align: center;
    margin-top: 50px;
}

 .table-scroll{
   height:100%;
   width:100%;
   overflow:auto;
 }
  .base {
   height: 60px;
   width: 60px;
   transition: .6s;
 }
 
 .base-expand {
   height: 135px;
   width: 135px;
 }
 
 .circle {
   border-radius: 50%;
   text-align: center;
   font-size: 1.5em;
   line-height: 2.4 !important;
   box-shadow: 0 3px 13px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
 }
  
 .md {
   height: 75px;
   width: 75px;
   line-height: 4.2 !important;
   transition: .4s;
 }
 
 .md:hover {
   height: 76px;
   width: 76px;
   box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.23);
 } 
 
 .bottom-right {
   position: absolute;
   bottom: 0;
   right: 0;
   background-color: var(--primary-color);
 } 

  .setting {
   position: fixed;
   bottom: 25px;
   right: 25px;
 }
  
/*This is for the template*/ 
.card-container{
  width:90%; 
  margin: 10px auto;
   box-shadow: 0 2px 6px rgba(0,0,0,0.2);
   position: relative; 
}
.card-header{
  padding:10px;
}
.template-container{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;  
}
.template-item{
  height: 200px;
  width: 200px;
  background-color: var(--primary-color);
  margin: 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: 300ms;
  border-radius: 50%;
  overflow: hidden;
}
.template-item img{
  height:100%;
  width:100%; 
}
.template-item:hover{
   transform: scale(1.3);
   border-radius: 6px;
}
.card-date{
  position: absolute;
  top:5px;
  left:5px;
  font-size: 1.2em;
  color:var(--primary-color);
  border:1px solid;
  padding:5px;
  border-radius: 6px;
}
.card-bmi{
 position: absolute;
  top:5px;
  right:5px;
  font-size: 1.2em;
  color:var(--primary-color);
   border:1px solid;
  padding:5px;
  border-radius: 6px;
}
.card-comment{
  background-color: var(--primary-color);
  padding: 15px;
  font-size: 1.5em;
  color:#fff;
  min-height: 150px;
}
.card-comment h3{
  text-decoration: underline;
}
.card-comment-para{
  width: 95%;
  margin: 0 auto;
}

.no-image{
  text-align: center;
  transform: rotate(45deg);
  height:45px;
  width:100%;
  margin-top: 40%;
  font-size: 2em;
  color:#fff;
}

 @media screen and (max-width: 720px) { 
    .template-item{
      height: 150px;
      width: 150px;
    } 
 }

 @media screen and (max-width: 600px) { 
    .template-item{
      height: 100px;
      width: 100px;
    } 
 }