.empty-image{
    text-align: center;
    margin-top: 50px;
}

 .table-scroll{
   height:100%;
   width:100%;
   overflow:auto;
 }
  .base {
   height: 60px;
   width: 60px;
   transition: .6s;
 }
 
 .base-expand {
   height: 135px;
   width: 135px;
 }
 
 .circle {
   border-radius: 50%;
   text-align: center;
   font-size: 1.5em;
   line-height: 2.4 !important;
   box-shadow: 0 3px 13px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
 }
  
 .md {
   height: 75px;
   width: 75px;
   line-height: 4.2 !important;
   transition: .4s;
 }
 
 .md:hover {
   height: 76px;
   width: 76px;
   box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.23);
 } 
 
 .bottom-right {
   position: absolute;
   bottom: 0;
   right: 0;
   background-color: var(--primary-color);
 } 

  .setting {
   position: fixed;
   bottom: 25px;
   right: 25px;
 }

 .image-info{
     width:75%;
     margin:0 auto;
 }
 
 
/*This is for the template*/
.template-container{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.template-item{
  height: 200px;
  width: 200px;
  background-color: var(--primary-color);
  margin: 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.template-item img{
  height:100%;
  width:100%;
}

.no-image{
  text-align: center;
  transform: rotate(45deg);
  height:45px;
  width:100%;
  margin-top: 40%;
  font-size: 2em;
  color:#fff;
}