.header{
    height: 100vh;
     transition: 1s;
}
.partial-container{
    top:-85vh;
    transition: 1s;
}
.login-control{
   width: 50%;
   margin: 0 auto;
   top:10vh;
   position: relative;
}
 
.window-control{
    display: none;
} 
.tools{
    display: none;
} 
.dashboard-links-container{
    display: none;
}