<div class="card-container">
    <div class="card-date">${formattedDate}</div>
    <div class="card-bmi">BMI: ${bmi}</div>
    <div class="card-header"></div>
    <div class="template-container">
        <div class="template-item">
            <div class="no-image">No Image</div>
        </div>
        <div class="template-item">
            <div class="no-image">No Image</div>
        </div>
        <div class="template-item">
            <div class="no-image">No Image</div>
        </div>
    </div>
    <div class="card-comment">
        <h3>Comments</h3>
        <div class="card-comment-para">
            ${comment}
        </div>
    </div>
</div>