<div class="card-container">
    <div class="card-date">${formattedDate}</div>
    <div class="card-bmi">BMI: ${bmi}</div>
    <div class="card-header"></div>
    <div class="template-container">
        <div class="template-item">
            <div class="no-image">No Image</div>
        </div>
        <div class="template-item">
            <div class="no-image">No Image</div>
        </div>
        <div class="template-item">
            <div class="no-image">No Image</div>
        </div>
    </div>
    <div class="client-detail-container">
        <span class="client-detail-container-title">Measurements</span>
        <div class="measurment-container">
            <div>Neck: ${neck}</div>
            <div>Chest: ${chest}</div>
            <div>Waist: ${waist}</div>
            <div>Hips: ${hips}</div>
            <div>UpperArm: ${upperArm}</div>
            <div>Forearm: ${foreArm}</div>
            <div>Thigh: ${thigh}</div>
            <div>Calf: ${calf}</div>
        </div>
    </div>
    <div class="client-detail-container">
        <span class="client-detail-container-title">Comments</span> ${comment}
    </div>
</div>