<tr>
    <td class="clientName">
        <img src="${profileImage}" alt="" class="profileImage">
        <div>${firstName} ${lastName}</div>
    </td>
    <td>
        <div class="client-address">
            <div>${address}</div>
            <div>${city}</div>
            <div>${state}</div>
            <div>${postalCode}</div>
        </div>
    </td>
    <td>
        <div class="client-contact">
            <div><span class="fa fa-phone"></span> ${phone}</div>
            <div><span class="fa fa-envelope"></span> ${email}</div>
        </div>
    </td>
    <td class="client-actions">
        <div class="clientEdit">
            <a href="#">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
        </div>
        <div class="clientMeal">
            <a href="#">
                <i class="fa fa-cutlery"></i>
            </a>
        </div>
        <div>
            <a href="#">
                <i class="fa fa-bar-chart"></i>
            </a>
        </div>
    </td>
</tr>
<tr>
    <td colspan="4">
        <div class="client-comments">
            <span class="fa fa-comment ico"></span> ${comment}
        </div>
    </td>
</tr>