<link href="css/admin.css" rel="stylesheet">
<script src="./js/admin.js"></script>

<div class="partial-container">
    <div class="container-header">
        <h1>
            <small>Adjust app setting here</small>
        </h1>
    </div>
    <div class="container-scroll">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <hr />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="caption">Required Login</div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <select id="ddlReqLogin" class="form-control">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <hr />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>
                        <small>Add food</small>
                    </h2>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form id="formAdd">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input class="form-control" type="text" name="name" id="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="form-control" name="category">
                                        <option value="Complex Carb">Complex Carb</option>
                                        <option value="Dairy">Dairy</option>
                                        <option value="Fats">Fat</option>
                                        <option value="Fibrous Carb">Fibrous Carb</option>
                                        <option value="Protein">Protein</option> 
                                        <option value="Simple Carb">Simple Carb</option>
                                        <option value="Supplement">Supplement</option>  
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="category">Serving</label>
                                    <select class="form-control" name="serving">
                                        <option value="cup">cup</option>
                                        <option value="&frac12; cup">&frac12; cup</option>
                                        <option value="&frac14; cup">&frac14; cup</option>
                                        <option value="oz">oz</option> 
                                        <option value="g">g</option>
                                        <option value="fillet">Fillet</option>
                                        <option value="slice">Slice</option> 
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="calorie">Calorie</label>
                                    <input class="form-control" type="number" name="calorie" id="calorie" step="any" required>
                                </div>
                                <div class="form-group">
                                    <label for="protein">Protein, g</label>
                                    <input class="form-control" type="number" name="protein" step="any" required>
                                </div>
                                <div class="form-group">
                                    <label for="carb">Carbs, g</label>
                                    <input class="form-control" type="number" name="carb" step="any" required>
                                </div>
                                <div class="form-group">
                                    <label for="fat">Fat, g</label>
                                    <input class="form-control" type="number" name="fat" step="any" required>
                                </div>
                                <div class="form-group">
                                    <label for="protein">Sodium, mg</label>
                                    <input class="form-control" type="number" name="sodium" step="any" required>
                                </div>
                                <div class="form-group">
                                    <label for="protein">Comments</label>
                                    <textarea rows="4" class="form-control" name="comment" maxlength="100" />
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <hr />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="caption">Select Primary Color</div>
                </div>
                <div class="col-md-8">
                    <div class="background-select">
                        <div style="background-color: #f44336"></div>
                        <div style="background-color: #ad1457"></div>
                        <div style="background-color: #4a148c"></div>
                        <div style="background-color: #4527a0"></div>
                        <div style="background-color: #3949ab"></div>
                        <div style="background-color: #82b1ff"></div>
                        <div style="background-color: #40c4ff"></div>
                        <div style="background-color: #00e5ff"></div>
                        <div style="background-color: #00897b"></div>
                        <div style="background-color: #43a047"></div>
                        <div style="background-color: #9ccc65"></div>
                        <div style="background-color: #9e9d24"></div>
                        <div style="background-color: #ffee58"></div>
                        <div style="background-color: #ff6f00"></div>
                        <div style="background-color: #e65100"></div>
                        <div style="background-color: #bf360c"></div>
                        <div style="background-color: #6d4037"></div>
                        <div style="background-color: #9e9e9e"></div>
                        <div style="background-color: #424242"></div>
                        <div style="background-color: #cfd8dc"></div>
                        <div style="background-color: #546e7a"></div>
                        <div style="background-color: #37474f"></div>
                        <div style="background-color: #263238"></div>
                        <div style="background-color: #000"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <hr />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="caption">Reset Application</div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <button id="btnReset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>