<form action="POST" role="form" id="formAddClient">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" name="firstName" id="txtClientfName" type="text" required />
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control" name="lastName" id="txtClientlName" type="text" required />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" name="email" id="txtClientEmail" type="text" required />
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input class="form-control" name="phone" id="txtClientPhone" type="text" required />
    </div>
    <div class="form-group">
        <label for="comment">Comments</label>
        <textarea id="txtUserPopComment" rows="4" class="form-control" name="comment" style="resize: none;" maxlength="100" />
</div>
<button id="btnSubmitClient" type="submit" class="btn btn-primary">Submit</button>
</form>