<link href="css/client.css" rel="stylesheet">
<script src="./js/client.js"></script>
<div class="partial-container">
  <div class="table-scroll">
    <table id="tblClient" class="table main-table">
      <tbody>

      </tbody>
    </table>
  </div>
</div>
<!--actions-->
<div class="base setting">
  <div id="btnAddClient" data-location="clientAdd" data-title="Add Client" class="bottom-right circle md btn-circle">
    <a data-location="clientAdd" data-title="Add Client" class="fa fa-plus fa-2x"></a>
  </div>
</div>