<script src="./js/foodAdd.js"></script>

<form action="" method="POST" role="form">
	<div class="form-group">
		<label for="">Food/Supplement</label>
		<select class="form-control" id="ddlFood" placeholder="Select One">
			<option disabled selected value>Select One</option>
			<option data-name="Bacon" data-category="Fat" data-calories="200" data-fat=".55" data-carbs=".5" data-protein=".25" value="1001">Bacon</option>
			<option data-name="Eggs" data-category="Protein" data-calories="50" data-fat=".25" data-carbs=".45" data-protein="5" value="1002">Eggs</option>
			<option data-name="Hash Browns" data-category="Carb" data-calories="150" data-fat=".100" data-carbs="1" data-protein="0" value="1003">Hash Browns</option>
			<option data-name="Toast" data-category="Carb" data-calories="75" data-fat=".55" data-carbs=".85" data-protein=".05" value="1004">Toast</option>
			<option data-name="Turkey" data-category="Protein" data-calories="25" data-fat=".25" data-carbs="0" data-protein="2" value="1005">Turkey</option>
			<option data-name="Salmon" data-category="Protein" data-calories="100" data-fat=".85" data-carbs="0" data-protein="1.5" value="1006">Salmon</option>
		</select>
	</div>
	<div class="form-group">
		<label for="">Meal</label>
		<select class="form-control" id="ddlMealNumber" placeholder="Select One">
			<option disabled selected value>Select One</option>
			<option value="One">1</option>
			<option value="Two">2</option>
			<option value="Three">3</option>
			<option value="Four">4</option>
			<option value="Five">5</option>
			<option value="Six">6</option>
		</select>
	</div>
	<div class="form-group">
		<label for="">Multiplier</label>
		<input type="number" class="form-control" id="txtMulti" placeholder="Enter Calories">
	</div> 
	<button id="btnAddFood" type="button" class="btn btn-primary">Add</button>
</form>