<form action="" method="POST" role="form">
	<div class="form-group">
		<label for="">Food/Supplement</label>
		<select class="form-control" id="ddlFood" placeholder="Select One">
			<option disabled selected value>Select One</option>
			<option value="1">Bacon</option>
			<option value="2">Eggs</option>
			<option value="3">Hash Browns</option>
			<option value="4">Toast</option>
			<option value="5">Turkey</option>
			<option value="6">Salmon</option>
		</select>
	</div>
	<div class="form-group">
		<label for="">Meal</label>
		<select class="form-control" id="ddlCategory" placeholder="Select One">
			<option disabled selected value>Select One</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
		</select>
	</div>
	<div class="form-group">
		<label for="">Multiplier</label>
		<input type="number" class="form-control" id="txtCal" placeholder="Enter Calories">
	</div> 
	<button type="submit" class="btn btn-primary">Add</button>
</form>