<link href="css/image.css" rel="stylesheet">
<script src="./js/image.js"></script>

<div class="partial-container">
    <div class="table-scroll">
        <div class="center-quote">
            <p>
                <i class="fa fa-quote-left" aria-hidden="true"></i> No images found
                <i class="fa fa-quote-right" aria-hidden="true"></i>
            </p>
        </div>
    </div>
    <!--actions-->
    <div class="base setting">
        <div id="btnAddImage" data-location="imageAdd" data-title="Add Image" class="bottom-right circle md btn-circle">
            <a data-location="imageAdd" data-title="Add Image" class="fa fa-plus fa-2x"></a>
        </div>
    </div>