<link href="css/login.css" rel="stylesheet">
<script src="./js/login.js"></script>

<div class="partial-container">
    <div class="login-control">
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">UserName</label>
            <div class="col-sm-9">
                <input type="text" id="txtUserName" placeholder="Username" class="form-control" autofocus>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="text" id="txtPassWord" placeholder="Password" class="form-control" autofocus>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-default pull-right" type="button" name="btnSubmit" value="Submit" id=btnSubmit>
        </div>
    </div>
</div>