<link href="css/meal.css" rel="stylesheet">
<script src="./js/meal.js"></script>
<!--print logo-->
<img src="asset/tbf-350x350.png" alt="Logo" class="logo">
<!--content-->
<div class="meal-container">
	<table>
		<thead>
			<tr>
				<td>Food/Supplement</td>
				<td>Category</td>
				<td>Calories</td>
				<td>Fat, g</td>
				<td>Carbs, g</td>
				<td>Protein, g</td>
			</tr>
		</thead>
	</table>
	<hr/>
	<div class="table-scroll">
		<div id="mealOne" class="meal meal-empty">
			<h3>Meal 1</h3>
			<table id="tblOne">
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="mealTwo" class="meal-empty">
			<h3>Meal 2</h3>
			<table id="tblTwo">
				<tbody>
					<!--JS generated-->
				</tbody>
			</table>
		</div>
		<div id="mealThree" class="meal-empty">
			<h3>Meal 3</h3>
			<table id="tblThree">
				<tbody>
					<!--JS generated-->
				</tbody>
			</table>
		</div>
		<div id="mealFour" class="meal-empty">
			<h3>Meal 4</h3>
			<table id="tblFour">
				<tbody>
					<!--JS generated-->
				</tbody>
			</table>
		</div>
		<div id="mealFive" class="meal-empty">
			<h3>Meal 5</h3>
			<table id="tblFive">
				<tbody>
					<!--JS generated-->
				</tbody>
			</table>
		</div>
		<div id="mealSix" class="meal-empty">
			<h3>Meal 6</h3>
			<table id="tblSix">
				<tbody>
					<!--JS generated-->
				</tbody>
			</table>
		</div>
	</div>

	<!--bottom of the grid-->
	<div class="meal-total">
		<hr/>
		<table>
			<tbody>
				<tr>
					<td>Totals:</td>
					<td></td>
					<td id="lblCal">0</td>
					<td id="lblFat">0</td>
					<td id="lblCarb">0</td>
					<td id="lblProtein">0</td>
				</tr>
				<tr>
					<td>Macro:</td>
					<td></td>
					<td></td>
					<td id="lblMacroFat">0</td>
					<td id="lblMacroCarb">0</td>
					<td id="lblMacroPro">0</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!--context menu-->
<div id="contextMenu" class="dropdown clearfix">
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
		<li><a id="btnRemoveFood" tabindex="-1" href="#">Remove</a></li>
		<li><a id="btnPlusOne" tabindex="-1" href="#">+</a></li>
		<li><a id="btnNegOne" tabindex="-1" href="#">-</a></li>
	</ul>
</div>

<!--actions-->
<div class="base setting">
	<div id="btnPrint" class="top-right circle sm btn-circle">
		<a class="fa fa-print"></a>
	</div>
	<div class="top-left circle sm btn-circle">
		<a class="fa fa-envelope"></a>
	</div>
	<div id="btnAdd" data-location="foodAdd" class="bottom-left circle sm btn-circle">
		<a data-location="foodAdd" class="fa fa-plus"></a>
	</div>
	<div class="bottom-right circle md btn-circle">
		<a class="fa fa-gears fa-2x"></a>
	</div>
</div>