<link href="css/meal.css" rel="stylesheet">
<script src="./js/meal.js"></script>
 <!--print logo--> 
<img src="asset/tbf-350x350.png" alt="Logo" class="logo">
<!--content--> 
<div class="meal-container">
	<table>
		<thead>
			<tr>
				<td>Food/Supplement</td>
				<td>Category</td>
				<td>Calories</td>
				<td>Fat, g</td>
				<td>Carbs, g</td>
				<td>Protein, g</td>
			</tr>
		</thead>
	</table>
	<hr/>
	<div class="table-scroll"> 
		<h3>Meal 1</h3>
		<table id="tblOne">
			<tbody>
			</tbody>
		</table>
		<h3>Meal 2</h3>
		<table id="tblTwo">
			<tbody>
				<!--JS generated-->
			</tbody>
		</table>
		<h3>Meal 3</h3>
		<table id="tblThree">
			<tbody>
				<!--JS generated-->
			</tbody>
		</table>
		<h3>Meal 4</h3>
		<table id="tblFour">
			<tbody>
				<!--JS generated-->
			</tbody>
		</table>
		<h3>Meal 5</h3>
		<table id="tblFive">
			<tbody>
				<!--JS generated-->
			</tbody>
		</table>
		<h3>Meal 6</h3>
		<table id="tblSix">
			<tbody>
				<!--JS generated-->
			</tbody>
		</table> 
	</div>

	<!--bottom of the grid-->
	<div class="meal-total">
		<hr/>
		<table>
			<tbody>
				<tr>
					<td>Totals:</td>
					<td></td>
					<td id="lblCal">0</td>
					<td id="lblFat">0</td>
					<td id="lblCarb">0</td>
					<td id="lblProtein">0</td>
				</tr>
			</tbody>
		</table>
	</div> 
</div>
 
<!--actions-->
<div class="base setting">
	<div id="btnPrint" class="top-right circle sm btn-circle">
		<a class="fa fa-print"></a>
	</div>
	<div class="top-left circle sm btn-circle">
		<a class="fa fa-envelope"></a>
	</div>
	<div id="btnAdd" data-location="foodAdd" class="bottom-left circle sm btn-circle">
		<a data-location="foodAdd" class="fa fa-plus"></a>
	</div>
	<div class="bottom-right circle md btn-circle">
		<a class="fa fa-gears fa-2x"></a>
	</div>
</div>