<div class="partial-container">
	<h3 style="width:400px;font-size:2em;text-align:center;margin:20px auto;">Coming in version 3.0</h3>
</div>

<!--<form class="form-horizontal" role="form">
	<h2>Measurments</h2>
	<div class="row">
		<div class="col-md-8">

		</div>
		<div class="col-md-4">
			<table>
				<tr>
					<td>
						<label for="" class="label">Previous</label>
					</td>
					<td>
						<label for="" class="label">Average</label>
					</td>
					<td>
						<label for="" class="label">Change +/-</label>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label class="control-label" for="neck">Neck</label>
				<input name="neck" type="range" id="myRange" value="90">
			</div>
		</div>
		<div class="col-md-4">

		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label class="control-label" for="chest">Chest</label>
				<input name="chest" type="range" id="myRange" value="90">
			</div>
		</div>
		<div class="col-md-4">

		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label class="control-label" for="bicept">Upper Arm</label>
				<input name="bicept" type="range" id="myRange" value="90">
			</div>
		</div>
		<div class="col-md-4">

		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label class="control-label" for="forearm">forearm</label>
				<input name="forearm" type="range" id="myRange" value="90">
			</div>
		</div>
		<div class="col-md-4">

		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label class="control-label" for="waist">Waist</label>
				<input name="waist" type="range" id="myRange" value="90">
			</div>
		</div>
		<div class="col-md-4">

		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label class="control-label" for="hip">Hips</label>
				<input name="hip" type="range" id="myRange" value="90">
			</div>
		</div>
		<div class="col-md-4">

		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label class="control-label" for="thigh">thigh</label>
				<input name="thigh" type="range" id="myRange" value="90">
			</div>
		</div>
		<div class="col-md-4">

		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label class="control-label" for="calf">Calf</label>
				<input name="calf" type="range" id="myRange" value="90">
			</div>
		</div>
		<div class="col-md-4">

		</div>
	</div>
</form>-->